// .code-content table,.el-picker-panel table {
//     display: table;
//     border-collapse: initial;
//     margin: 0;
// }

// .code-content th, .code-content td, .el-picker-panel th,.el-picker-panel td {
//     border: initial;
// }

// .code-content tr, .el-picker-panel tr {
//     border-top: initial;
// }

// .code-content  tr:nth-child(2n), .el-picker-panel tr:nth-child(2n) {
//     background-color: initial;
// }

tr, td, th {
    border: none;
}

table {
    margin: auto
}

html body {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

h2 {
    padding: 0;
    margin: 55px 0 20px;
    font-weight: 600;
    color: #1f2f3d;
    border-bottom: none;
    font-size: 26px;
}

h1 {
  font-size: 36px;
}

.el-table .cell {
  word-break: break-word;
}

#app .home .hero img {
  max-height: 200px;
}